<div mat-dialog-content>
  <p>Nhập Mật Khẩu Cũ</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nhập Mật Khẩu Cũ</mat-label>
    <input matInput placeholder="Nhập Mật Khẩu Cũ" type="text" required (keyup)="onKeyMKCu($event)">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Nhập Mật Khẩu Mới</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nhập Mật Khẩu Mới</mat-label>
    <input matInput placeholder="Nhập Mật Khẩu Mới" type="text" required (keyup)="onKeyMKMoi($event)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doChangePassword()">Ok</button>
  <button mat-button (click)="onNoClick()">Huỷ</button>
</div>
