<section class="content">
  <div class="container-fluid">
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src={{infoPatient.image_url}} alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-2">
                  Welcome <div class="weight-600 font-30 col-blue pt-1">{{infoPatient.fullname}}</div>
                </h4>
                <p class="font-18 max-width-600">Ngày sinh: {{infoPatient.ngaysinh}}</p>
                <p class="font-18 max-width-600">Giới tính: {{infoPatient.gioitinh}}</p>
                <p class="font-18 max-width-600">Địa chỉ: {{infoPatient.diachi}}</p>
                <p class="font-18 max-width-600">CMND: {{infoPatient.cmnd}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <mat-tab-group dynamicHeight>
              <mat-tab label="Lịch hẹn">
                <ul class="list-unstyled list-unstyled-border list-unstyled-noborder"
                  *ngIf="today_appointments.length>0">
                  <li class="app-list" *ngFor="let item of today_appointments">
                    <img alt="image" class="rounded-circle" width="40" src={{item.image_url}}>
                    <div class="set-flex">
                      <div class="media-title font-16">{{item.bacsiname}}</div>
                      <div class="text-job text-muted mb-0">{{item.tenkhoa}}</div>
                      <div *ngIf=" item.user_send_cancel" class="alert alert-danger" role="alert">User Đã
                        Hủy
                      </div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted mb-0"> Lịch hẹn</div>
                      <div class="media-title font-16">{{item.ngay}}</div>
                      <div class="text-job text-muted mb-0">{{item.thoigian}}</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted mb-0"> liên hệ</div>
                      <div class="text-job font-16">{{item.sdt}}</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="btn-tbl-confirm" (click)=datlailich(item)
                          *ngIf="item.user_send_cancel">
                          <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-tbl-reject" (click)=huyApointment(item)
                          *ngIf="!item.user_send_cancel">
                          <mat-icon>close</mat-icon>
                        </button>
                      </td>
                    </div>

                  </li>
                </ul>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
